h2{
    color: aquamarine;
}
.emni{
  background-color: rgb(189, 39, 174);
  width: 150px;
  height: 240px;
  border: 1px; color: brown;
}
.p{
 border: 5px;color: burlywood; 
 position: relative;  
}
.box1{
width: 100px;
height: 60px;
background-color: crimson;
position: relative;
}
.box2{
width: 100px;
height: 60px;
background-color: darkgreen;
position: relative;
}
.box3{
width: 100px;
height: 60px;
background-color: grey;
position: relative;
}
.pic{
    background: url(./cid.jpg);
    width: 100px;
    height: 60px;
    background-position: right;
}